<div class="product">
  <div class="product-details">
    <img [src]="getImageUrl(product)" [alt]="product?.name" />
    <div class="product-info">
      <div class="name">{{ product?.name }}</div>
      <div class="description">{{ product?.description }}</div>
      <div class="category">Part Type: {{ product?.category }}</div>
    </div>
  </div>
  <div class="price">
    <div [ngClass]="getDiscountClasses(product)">
      {{ product.price | currency : "USD" }}
    </div>
    <div class="discount" *ngIf="product.discount > 0">
      {{ product.price * (1 - product.discount) | currency : "USD" }}
    </div>
    <button class="cta">Buy</button>
  </div>
</div>
